[submodule "carta-protobuf"]
	path = carta-protobuf
	url = https://github.com/CARTAvis/carta-protobuf.git
[submodule "third-party/uWebSockets"]
	path = third-party/uWebSockets
	url = https://github.com/uNetworking/uWebSockets.git
